---
import '@fontsource/cascadia-mono/400.css';
import '@fontsource/cascadia-mono/500.css';
import '@fontsource/cascadia-mono/600.css';

import Header from "@/components/Header"
import Panel1 from "@/components/Panel1"
import PostCard from "@/components/Postcard"
import "@/styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>ForoRata</title>
	</head>
	<body>
<<<<<<< HEAD
		<p>Arriba del slot</p>
=======
		<Header />
		<Panel1 />
>>>>>>> 2b4954814968c772806640ad1d6b6798a2fe4ae2
		<slot />
		<p>Debajo del slot</p>
		<p>Y se puede seguir añadiendo cosas al layout</p>
	</body>
</html>
