<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>ForoRata</title>
	</head>
	<body>
		<p>Arriba del slot</p>
		<slot />
		<p>Debajo del slot</p>
		<p>Y se puede seguir añadiendo cosas al layout</p>
	</body>
</html>
